body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: #3b506c;
    font-size: 18px;
}
img{display: block;
max-width: 100%;}

header{padding: 30px 50px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
nav{
    display: flex;
justify-content:space-between ;
align-items: center;
}

nav ul{
    margin: 0px;
padding: 0px;
list-style: none;
display: flex;
}
nav ul li{
    margin: 0px 0px 0px 50px;
}
nav ul li a{
    text-decoration: none;
font-weight: 600;
font-size: 17px;
color: #3b506c;}


.banner{
    text-align: center;
    }
.banner h1{
    font-size: 70px;
    color: #3b506c;
    margin: 90px 0px 0px 0px;
}
.banner img{ width:50%;
margin: auto;}

    .banner p{
    color: #3b506c;
    font-weight: 400;
}
.banner  h1 span {
    color: #0c66ff;
}


.parent{
    display: flex;
}
.item {
    width: 50%;
    padding: 0 20px 0 20px;
    }

.spical{text-align: right;}

.item h1{
    font-size: 40px;
    color: #3b506c;
}
.spical h1{color: rgb(210, 0, 0);}
.item p{color: #3b506c;}



.servies-section{
    margin: 80px 30px;
}
.servies{
    display: flex;
}
.servies-item{
box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
padding: 20px;
margin: 0 10px 0 10px;
border-radius: 7px;
}
.servies-item h4{font-size: 22px;
margin: 10px 0px;}

.servies-item image{height: 250px;}


footer{ background-color: #3b506c;
    color: wheat;
padding: 30px;
text-align: center;}
